// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000000;
$white: #ffffff;
$grey: #6f6d72;
$green: #559633;
$red: #d50000;
$blue: #3db2f5;
$burgundy: #b7327b;


$link: $burgundy;


$green-rgba: rgba(9, 137, 111,0.90);


$form-blue: #0c3350;
$heading-blue: #196fbb;


$light-brown: #baa58a;
$light-blue: #41bbff;
$light-grey: #efefef;
$box-grey: #a09d9d;
$focus-color: $blue;
$focus: $focus-color;

$body-text: $black;


// DEFAULT SYSTEM COLORS
// ======================

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.