// TYPOGRAPHY
// =============================

// BASE FONT
// =============================
html {
  font-family: $roboto-light;
  font-size: 16px;
}

// HEADER STYLES
// =============================
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

h1,h2 {
  text-align: center;
}

h1 {
  font-family: $town-scape;
  font-size: $gutter*4;
  margin: $gutter*2 0;
}

h2 {
  font-family: $mexican-tequilla;
  font-size: $gutter*2;
  margin: $gutter 0;
}